.contacto {
  padding-top: 50px !important;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0 70px 0 70px;

  &:first-child {
    margin-right: #565656 1px solid;
  }
}

.contacto__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 43px;
}

.contacto__container {
  width: 50%;
  padding-right: 15px;

  div {
    display: flex;
  }
}

.contacto__container:nth-child(2) {
  display: flex;
  justify-content: center;
  border-left: #a5a5a5 2px solid;

  img {
    border-radius: 70px;
    max-width: 480px;
    height: auto;
  }
}

.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 315px;
  width: 100%;
  font-family: "Inter", sans-serif;

  input {
    color: #9e9e9e;
    max-width: 315px;
    padding: 13px 19px;
    border-radius: 15px;
    border: #9e9e9e 1px solid;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 600;
    gap: 7px;
  }

  textarea {
    color: #9e9e9e;
    max-width: 315px;
    height: 100px;
    padding: 13px 19px;
    border-radius: 15px;
    border: #9e9e9e 1px solid;
  }

  button {
    width: 100px;
    padding: 12px 30px;
    border-radius: 18px;
    margin: auto;
    border: none;
    background-color: #fec74a;
    font-weight: 600;
    cursor: pointer;
    border: transparent 2px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.contacto__icon {
  width: 39px;
}

.contacto__container-info {
  margin-left: 14px;
  height: 50px;
  font-family: "Inter";
  justify-content: space-between;
  display: flex;
  justify-content: flex-start;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div > h2 {
    font-size: 16px;
    color: #3c3c3c;
  }

  div > p {
    font-size: 16px;
    color: #828282;
  }
}
.contacto__container-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  gap: 30px;
  padding-right: 10px;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .contacto__container:nth-child(2) {
    img {
      max-width: 400px;
    }
  }

  .contacto__form {
    max-width: 280px;
  }
}

@media (max-width: 1160px) {
  .contacto {
    flex-direction: column;
  }

  .contacto__container:nth-child(2) {
    display: none;
  }

  .contacto__container {
    width: 100%;

    div {
      width: 100%;
    }
  }

  .contacto__form {
    max-width: 470px;

    input {
      max-width: 410px;
    }

    textarea {
      max-width: 410px;
    }
  }
}

@media (max-width: 645px) {
  .contacto {
    padding: 15px;
  }

  .contacto__container {
    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .contacto__form {
    max-width: 470px;

    input {
      max-width: 470px;
    }

    textarea {
      max-width: 470px;
    }
  }

  .contacto__container-info {
    height: 90px;
    div > p {
      text-align: center;
    }
  }

  .contacto__container-sections {
    height: 380px;
  }
}
